beautifulsoup4==4.7.1
cachetools==2.1.0
certifi==2018.8.13
chardet==3.0.4
Click==7.0
Flask==1.0.2
flask-heroku==0.1.9
flask-marshmallow==0.9.0
Flask-SQLAlchemy==2.3.2
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.3.0
MarkupSafe==1.1.0
marshmallow==2.18.0
marshmallow-sqlalchemy==0.15.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pydub==0.22.1
pytube==9.2.2
requests==2.21.0
rsa==3.4.2
six==1.11.0
soupsieve==1.7.3
spotipy==2.4.4
SQLAlchemy==1.2.17
uritemplate==3.0.0
urllib3==1.23
Werkzeug==0.14.1
